<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ATM Machine System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ATMServlet</display-name>
    <servlet-name>ATMServlet</servlet-name>
    <servlet-class>ATMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMServlet</servlet-name>
    <url-pattern>/ATMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalance</display-name>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/CheckBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ATMConsole</display-name>
    <servlet-name>ATMConsole</servlet-name>
    <servlet-class>ATMConsole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ATMConsole</servlet-name>
    <url-pattern>/ATMConsole</url-pattern>
  </servlet-mapping>
</web-app>