<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online Reservation System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>OnlineReservationSystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>OnlineReservationSystem.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>OnlineReservationSystem.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reservation</display-name>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reservation</display-name>
    <servlet-name>reservation</servlet-name>
    <servlet-class>OnlineReservationSystem.reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainData</display-name>
    <servlet-name>TrainData</servlet-name>
    <servlet-class>OnlineReservationSystem.TrainData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainData</servlet-name>
    <url-pattern>/TrainData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReservationData</display-name>
    <servlet-name>UserReservationData</servlet-name>
    <servlet-class>OnlineReservationSystem.UserReservationData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReservationData</servlet-name>
    <url-pattern>/UserReservationData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>OnlineReservationSystem.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDataRerieval</display-name>
    <servlet-name>BookingDataRerieval</servlet-name>
    <servlet-class>OnlineReservationSystem.BookingDataRerieval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDataRerieval</servlet-name>
    <url-pattern>/BookingDataRerieval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PNRStatus</display-name>
    <servlet-name>PNRStatus</servlet-name>
    <servlet-class>OnlineReservationSystem.PNRStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PNRStatus</servlet-name>
    <url-pattern>/PNRStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyReservations</display-name>
    <servlet-name>MyReservations</servlet-name>
    <servlet-class>OnlineReservationSystem.MyReservations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyReservations</servlet-name>
    <url-pattern>/MyReservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancellationServlet</display-name>
    <servlet-name>CancellationServlet</servlet-name>
    <servlet-class>OnlineReservationSystem.CancellationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellationServlet</servlet-name>
    <url-pattern>/CancellationServlet</url-pattern>
  </servlet-mapping>
</web-app>