@charset "ISO-8859-1";
.Container {
    width: 100%;
    height: 100vh;
    background: #559193;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    background: #CFC5C5;
    padding: 60px 160px;
    border: 2px solid black;
    border-radius: 30px;
    width: 100%;
    max-width: 800px;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    flex-direction: column;
}


.form {
    max-width: 100%; 
    align-items: center;
    text-align: center; 
    margin-left:50px;
    margin-right:50px; 
    display:flex;
}

table{
	  max-width: 100%; 
   	  align-items: center;
  	  text-align: center; 
}
.th,.td {
    padding: 10px;
    text-align: center;
    max-width: 100%;
}